<div class="about"><div class="container mt-5 mb-5">


    <h1 class="text-center" style = "position:absolute;left:500px ;top:120px" >About E-Gift Cards</h1><br>
    <div class="content" style = "position:absolute; left:525px; top:250px">
       <b> One of the best love language is gifting!</b><br><br>
        Gifts make a connection between the sender and the receiver.<br> It is a token of love.<br> You don’t need an occasion
        to make your friends and family feel overwhelmed.<br>
        Here comes the E-Gift Karo in the picture!<br>

        If it is difficult to find the right gift for them, give them a gift card. <br>You can consider gifting on their
        birthday, anniversary, mother’s day, father’s day,<br> or any other occasion.<br>
        The holiday season is another best occasion for showering love!
        All you have to do is:
    <ul>
        <li>select a gift card or personalize a gift card</li>
        <li>select the price range</li>
        <li>add a lovely note</li>
        <li>Enter the recipients details.</li>
    </ul>
    We will email them your token of love.<br><br>
    So let it be a birthday or any other reason of celebration, you know where<br> to come to purchase gifts!
</div>
</div>
</div>