<!-- <p>payment works!</p>
<html>
    <body>
  
        <div> 
            <form [formGroup] = "PaymentForm" (ngSubmit) = "savePaymentDetails()" > 
                <label for="PaymentId" class="form-label">Enter Id</label>
               <input type = "text" class = "form-control" id="PaymentId" 
                  formControlName = "paymentId"> 
               <br/> 
                <label for="Name" class="form-label">Name on card</label>
               <input type = "text" class = "form-control" id=" Name" 
                  formControlName = "nameOnCard"> 
               <br/> 
               
               <label for="PaymentAmount" class="form-label">Payment Amount </label>
               <input type = "text" class = "form-control" id="PaymentAmount" 
                  formControlName = "paymentAmount"> 
               <br/> 
    
               <label for="CardNumber" class="form-label">Card Number </label>
               <input type ="text" class = "form-control" id="CardNumber" 
                  formControlName = "cardNumber"> 
               <br/> 
               
               <label for="Cvv" class="form-label">Cvv</label>
               <input type = "text" class = "form-control" id="Cvv" 
                  formControlName = "cvv"> 
               <br/> 
               
               <input type = "submit" class = "forsubmit" value = "Purchase Cards">  
               <button type="submit" (click)="savePaymentDetails()" class="forsubmit" value="Pay" routerLink="home" routerLinkActive="">Pay</button>
            </form>
         </div> 
         <p> Email entered is : {{RecepientEmail}} </p> 
    
    




    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="payment.component.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <h2>Payment Form</h2>
        <form [formGroup]="PaymentForm" (ngSubmit)="savePaymentDetails()">
            <h6>Account</h6>
                <div class="input_box">
                    <input type="text" placeholder="Full Name" class="name" formControlName="fullName"
                        [class.is-invalid]="fullName?.invalid && PaymentForm.get('fullName')?.touched">
                    <i class="fa fa-user icon"></i>
                </div>


                <div *ngIf="PaymentForm.get('fullName')?.invalid && PaymentForm.get('fullName')?.touched">
                    <small *ngIf="PaymentForm.get('fullName')?.hasError('required')" class="text-danger">
                        *Required
                    </small>

                </div> 

<br>
                <div class="input_box">
                    <input type="text" placeholder="Name on Card" required class="name" formControlName="nameOnCard"
                         [class.is-invalid]="nameOnCard?.invalid && PaymentForm.get('nameOnCard')?.touched">
                    <i class="fa fa-user icon"></i> 
                </div>

            <div *ngIf="PaymentForm.get('nameOnCard')?.invalid && PaymentForm.get('nameOnCard')?.touched">
                <small *ngIf="PaymentForm.get('nameOnCard')?.hasError('required')" class="text-danger">
                    *Required
                </small>
            </div>

             <br>                
            <div class="input_group">
                <div class="input_box">
                    <input type="text" name="" class="name" placeholder="Card Number 1111-2222-3333-4444"
                        formControlName="cardNumber"
                        [class.is-invalid]="cardNumber?.invalid && PaymentForm.get('cardNumber')?.touched">
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div *ngIf="PaymentForm.get('cardNumber')?.invalid && PaymentForm.get('cardNumber')?.touched">
                <small *ngIf="PaymentForm.get('cardNumber')?.hasError('required')" class="text-danger">
                    *Required
                </small>
                <small *ngIf="PaymentForm.get('cardNumber')?.hasError('pattern')" class="text-danger">
                    *Incorrect
                </small>
            </div>

            <div class="input_group">
                <div class="input_box">
                    <input type="text" name="" class="name" placeholder="Card CVV 632" formControlName="cvv"
                        [class.is-invalid]="cvv?.invalid && PaymentForm.get('cvv')?.touched">
                    <i class="fa fa-user icon"></i>
                </div>
            </div>
            <div *ngIf="PaymentForm.get('cvv')?.invalid && PaymentForm.get('cvv')?.touched">
                <small *ngIf="PaymentForm.get('cvv')?.hasError('required')" class="text-danger">
                    *Required
                </small>
                <small *ngIf="PaymentForm.get('cvv')?.hasError('pattern')" class="text-danger">
                    *Length should be 3
                </small>
            </div>

            <div class="input_group">
                <div class="input_box">
                    <input type="text" placeholder=" Card Exp(MM-YYYY)" class="name" formControlName="cardExpiry"
                        [class.is-invalid]="cardExpiry?.invalid && PaymentForm.get('cardExpiry')?.touched"> 
                    <i class="fa fa-calendar icon" aria-hidden="true"></i>
                </div>
            </div>

            <div *ngIf="PaymentForm.get('cardExpiry')?.invalid && PaymentForm.get('cardExp')?.touched">
                <small *ngIf="PaymentForm.get('cardExpiry')?.hasError('required')" class="text-danger">
                    *Required
                </small>
                <small *ngIf="PaymentForm.get('cardExpiry')?.hasError('dateValidator')" class="text-danger">
                    *Date Format is wrong!
                </small>
            </div>


            <div class="input_box">
                <!-- <input type="number" placeholder="Enter Amount" required class="name"> -->
                <input style="    padding: 14px 10px 14px 50px;
                width: 100%;
                background-color: #fcfcfc;
                border: 1px solid #0003;
                outline: none;
                letter-spacing: 1px;
                transition: 0.3s;
                border-radius: 3px;
                color: #333;" value="amount" formControlName="paymentAmount"/>
                <!-- {{purchase.PurchaseForm.giftCardAmount}}</p> -->
                <i class="fa fa-money icon" aria-hidden="true"></i>
            </div>


            <div class="input_group">
                <div class="input_box">
                    <!-- <button type="submit">PAY NOW</button> -->
                    <button type="submit" (click)="savePaymentDetails()" class="forsubmit" value="Pay" routerLink="home" routerLinkActive="">Pay</button>
                </div>
            </div>

        </form>
    </div>
</body>

</html>





